{{!--
This template is used for the author page.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="wt-main wp">
  {{!-- Everything inside the #author tags pulls data from the author --}}
  {{#author}}
  <div class="uk-article uk-margin" data-aos="fade-down">
      <h1 class="uk-article-title">
          <span class="wt-article-author">{{name}}</span>
          <a class="wt-title-to-home" href="/">
              <span>返回博客首页</span>
              <svg t="1611731528360" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2011" width="32" height="32"><path d="M560.872727 88.436364c-23.272727-23.272727-65.163636-23.272727-90.763636 0L104.727273 435.2c-11.636364 11.636364-16.290909 30.254545-4.654546 46.545455 11.636364 18.618182 34.909091 11.636364 48.872728 0l6.981818-6.981819v358.4c0 18.618182 6.981818 34.909091 18.618182 48.872728 11.636364 11.636364 34.909091 23.272727 53.527272 23.272727h197.818182v-202.472727c0-11.636364 6.981818-23.272727 11.636364-34.909091 6.981818-6.981818 18.618182-11.636364 30.254545-11.636364H558.545455c11.636364 0 23.272727 6.981818 34.90909 11.636364 6.981818 6.981818 11.636364 23.272727 11.636364 34.909091V907.636364h202.472727c18.618182 0 34.909091-6.981818 48.872728-18.618182 11.636364-11.636364 18.618182-30.254545 18.618181-48.872727V481.745455c18.618182 11.636364 34.909091 11.636364 48.872728 0 11.636364-6.981818 11.636364-18.618182 11.636363-23.272728 0-6.981818-6.981818-18.618182-11.636363-23.272727L560.872727 88.436364z" fill="#348fe4" p-id="2012"></path></svg>
          </a>
      </h1>
  </div>
  </section>
  {{/author}}

  <main>
    <div class="l-content">
      <div class="l-wrapper" data-aos="fade-up" data-aos-delay="300">
        <div class="l-grid centered">
          {{!-- The tag below iterates over all the posts --}}
          {{> "loop"}}
        </div>
      </div>
    </div>
  </main>
</div>
