{{!--
This template is used for the tag page.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="wp wt-main">
  {{!-- Everything inside the #tag tags pulls data from the tag --}}
  {{#tag}}
  {{!-- Special header.hbs partial to generate the <header> tag --}}
  {{!-- {{> header background=feature_image}} --}}
  {{!-- Inject styles of the hero image to make it responsive --}}
  {{> hero background=feature_image}}
  <div class="uk-article uk-margin" data-aos="fade-down">
      <h1 class="uk-article-title">
          <span class="wt-article-title">{{name}}</span>
          <a class="wt-title-to-home" href="/">
              <svg viewBox="0 0 7.6 12.067" xmlns="http://www.w3.org/2000/svg"><path d="m7.1 11.567-6.572-5.474a.078.078 0 0 1 0-.119l6.572-5.474" fill="none" stroke="#1d89ff" stroke-linecap="round" stroke-miterlimit="10"/></svg>
              <span>返回</span>
          </a>
      </h1>
    {{!-- <p class="m-heading__description">
      {{plural ../pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}} {{t "with this tag"}}
    </p> --}}
  </div>
  </section>
  {{/tag}}

  <main>
    <div class="l-content">
      <div class="l-wrapper" data-aos="fade-up" data-aos-delay="300">
        <div class="l-grid centered">
          {{!-- The tag below iterates over all the posts --}}
          {{> "loop"}}
        </div>
      </div>
      {{!-- Links to Previous/Next posts --}}
      {{!-- {{pagination}} --}}
    </div>
  </main>
</div>
